body {
    font-family: "aktiv-grotesk", sans-serif;
    margin: 0;
    padding: 20px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.links-container {
    display: flex;
    justify-content: space-around;
    margin-top: 8px;
}

.home-link, 
.page1-link,
.page3-link,
.page4-link  {
    font-size: 18px;
    color: #202020;
    text-decoration: none;
}

.page2-link {
    font-size: 18px;
    font-weight: 600;
    color: #202020;
    text-decoration: underline;
}

.home-link:hover, 
.page1-link:hover, 
.page2-link:hover, 
.page3-link:hover,
.page4-link:hover {
    color: blue;
}

.pattern-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}

.shape {
    display: block;
    margin: 0 auto;
    max-width: 7.3%;
    height: auto;
    margin-top: 360px;
    cursor: pointer;
}

.pattern-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    margin-top: 27px;
    width: 100%;
}

.pattern {
    width: 100%;
    max-width: 430px;
    height: auto;
    cursor: pointer;
}