body {
    font-family: "aktiv-grotesk", sans-serif;
    margin: 0;
    padding: 20px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.links-container {
    display: flex;
    justify-content: space-around;
    margin-top: 8px;
}

.home-link, 
.page1-link,
.page2-link, 
.page3-link {
    font-size: 18px;
    color: #202020;
    text-decoration: none;
}

.page4-link {
    font-size: 18px;
    color: #202020;
    text-decoration: underline;
}

.home-link:hover, 
.page1-link:hover, 
.page2-link:hover, 
.page3-link:hover,
.page4-link:hover {
    color: blue;
}

.stack {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 255px;
}

.stack img {
    position: absolute;
    width: 50px;
    height: auto;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.gallery {
    gap: 3px;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    position: absolute;
    overflow: visible;
    align-items: center;
    justify-items: center;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    margin-top: 55px;
    top: 0;
    left: 0;
    right: 0;
}

.gallery img {
    width: 85%;
    max-width: 150px;
    transition: transform 0.6s ease;
    position: relative;
}

.gallery img:hover {
    transform: scale(5.5);
    z-index: 10;
}

.coordinates-display {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: #333;
    display: none;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.manholes-moving {
    position: absolute;
    width: 50px;
    height: 50px;
    opacity: 0;
    background-image: url('assets/resized1.webp'); /* Set this dynamically via JS */
    background-size: cover;
    border-radius: 50%;
    transition: all 1s ease;
    z-index: 100;
}
